<div class="top-header">
    <div class="logo">
      <a href="#">Yokusuru</a><!-- とりあえずロゴができるまでaタグ -->
    </div>
    <div class="header-right">
      <button type="button" class="btn btn-default" onclick="location.href='/users/sign_in'">ログイン</button>
      <button type="button" class="btn btn-default">ランキング</button>
    </div>
  </div> 
  <!-- ここまで -->

  <!-- ここから画像のとこ -->
  <div class="top-head">
    <div class="top-image">
      <%= image_tag "ore.png", :class => "col-md-12" %>
    </div>
    <div class="top-text">
      <p>チームを「よくする」プラットフォームをここに。</p>
    </div>
    <div class="top-new-account">
      <button type="button" class="btn btn-primary" onclick="location.href='/users/sign_up'">新規登録</button>
    </div>
  </div>
  <!-- ここまで -->

  <!-- yokusuruとは -->
  <div class="what-we-do">
    <div class="about-us">
      <p>Yokusuruとは</p>
    </div>
    <div class="top-instraction">
      <p>Yokusuruはチーム内の至らないところを投稿し、</br>それが得点になり、他のチームと競い合えます。</p>
    </div>
  </div>
  <!-- ここまで -->

  <!-- ここからYokusuruとは -->
  <div class="top-body">
    <div class="about-us">
      <p>Yokusuruの特徴</p>
    </div>
    <div class="col-md-4">
      <div class="top-body-image">
        <%= image_tag "heart.png", :width => "150px", :height => "150px" %>
      </div>
      <div class="top-body-text">
        <p>使いやすい！</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="top-body-image">
        <%= image_tag "battle.png", :width => "150px", :height => "150px" %>
      </div>
      <div class="top-body-text">
        <p>競い合える！</p>
      </div>
    </div>

    <div class="col-md-4">
      <div class="top-body-image">
        <%= image_tag "free.png", :width => "150px", :height => "150px" %>
      <div class="top-body-text">
        <p>完全無料！</p>
      </div>
    </div>
  </div>
  <!-- ここまで -->

  <!-- ここからよくある質問　事例 -->
  <div class="top-example">
  </div>
  <!-- ここまで -->

  <!-- ここからお問い合わせ -->
  <div class="top-contact-us">
    <div class="about-us">
      <p>お問い合わせ</p>
    </div>
    <table>
      <tr>
        <td>お名前</td>
        <td><input type="text" placeholder="必須"></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><input type="text" placeholder="必須"></td>
      </tr>
      <tr>
        <td>お問い合わせ内容</td>
        <td><input type="text" ></td>
      </tr>
    </table>
    <input type="button" value="送信">
  </div>
  <!-- ここまで -->

  <!-- ここから新規登録 -->
  <div class="top-create-new-account">
    <div class="new-account">
      <a href="#">新規登録</a>
    </div>
  </div>
  <!-- ここまで -->  