
<div class="contents">
    <div class ="container">
		<div>
			<% if current_user.avatar %>
				<img src="<%= current_user.avatar.url(:medium) %>">
			<% else %>
				<%= image_tag "aka.png" %>
			<% end %>
			<li><%= link_to "プロフィール編集", edit_user_path(current_user.id) %></li>
		</div>

	</div>
</div>