<%= render partial: 'common/header' %>

<h1>提案中</h1>

<% if current_user.team.problems.where(done: 0).exists? == false %>
	<div>
		<p>投稿がありません</p>
	<div>
<% end %>

<div>
    <%= render partial: 'problems/problem', collection: @problems %>
</div>