<body style="margin: 0;background-color: #f8f1e8;">
<%= render partial: 'common/header' %>

<!-- ここからメイン -->
<div class="fixing-base">
<div class="home-center">
	<div class="side-bar">
    <a class="teian1" href="javascript:;" onclick="Display('proposal')" ><p class="sidemenu1" id="SW1">提案中</p></a>
	  <a class="zikkou2" href="javascript:;" onclick="Display('doing')"><p class="sidemenu2" id="SW2">実行中</p></a>

    <div class="copyright">
      <p>Copyright &copy; Yokusuru</p>
    </div>
  </div>
  <div class="right-bar">
    <h3>ランキング</h3>
  </div>

	<div class="boxA">
  		<% if current_user.team.problems.where(done: 0).exists? == false %>
				<div>
					<p>投稿がありません</p>
				<div>	
			<% end %>
		  <div id="problem">
    	 <%= render partial: 'problems/problem', collection: @problems %>
		  </div>
		  <div id="proposal" style="display:none;">
    	 <%= render partial: 'problems/problem', collection: @proposals %>
		  </div>
	</div>
</div>
</div>
<!-- 説明タブ -->
<!-- フッターは無し -->


<script type="text/javascript">

function(){//サイドバー固定
  // 固定する場所が存在することの確認
  if( $('.fixing-base .side-bar').length > 0 ){
    var baseSelector = '.fixing-base'
    var fixingSelector = baseSelector + ' .fixing-box'

    $(window).on('load scroll resize', function(){
      var baseTop = $(baseSelector).offset().top

      //固定開始位置より後にスクロールされた場合
      if( $(window).scrollTop() > baseTop ){
        $(fixingSelector).addClass('fixed')
        $(baseSelector).height($(fixingSelector).outerHeight())
        $(fixingSelector).width($(baseSelector).width())

      //固定開始位置以前にスクロールされた場合
      } else {
        $(fixingSelector).removeClass('fixed')
        $(baseSelector).height('')
        $(fixingSelector).width('')
      }
    })
  }
}
</script>

<script language="javascript" type="text/javascript">
 function Display(no){//タブ化
     if(no == "proposal"){
         document.getElementById("problem").style.display = "block";
         document.getElementById("proposal").style.display = "none";
         document.getElementById("SW1").style.color = "orange";
         document.getElementById("SW2").style.color = "white";
     }else if(no == "doing"){
         document.getElementById("problem").style.display = "none";
         document.getElementById("proposal").style.display = "block";
         document.getElementById("SW1").style.color = "white";
         document.getElementById("SW2").style.color = "orange";
     }
 }
 </script>

</body>