<%= render partial: 'common/header' %>

<script language="javascript" type="text/javascript">
 function Display(no){
     if(no == "no1"){
         document.getElementById("SW1").style.display = "block";
         document.getElementById("SW2").style.display = "none";
     }else if(no == "no2"){
         document.getElementById("SW1").style.display = "none";
         document.getElementById("SW2").style.display = "block";
     }
 }
 </script>
  
 <div id="SW1">
     <a href="javascript:;" onclick="Display('no2')">全体</a>
 </div>
  
 <div id="SW2" style="display:none;">
     <a href="javascript:;" onclick="Display('no1')">チーム内</a>
 </div>

 <div>
 	<% @users.each.with_index(1) do |user, i| %>
 	<%= i %>
 	<%= user.name %>
 	<% end %>
 </div>