body,td,th,button,input,textarea {
	font-family:"Yu Gothic";
}


html,body{
	height: 100%;
}

body, h2, h1 {
	margin: 0 auto 0 auto;
	color: #666666;
}

body p{
	color: #666666;
	margin: auto 10% auto 10%;
	font-size: 20px;
}

button{
	height: 200px;
	width: 200px;
	border: solid 3px white; 
	border-radius: 15px 15px 15px 15px;
	background-color: rgba(60,60,60,0.1);
	
}

button:hover{
	background-color: orange;  /*rgba(50%,50%,50%,3.0);	*/
}

button h2{
	font-size: 60px;
	color: white;
	margin: 0;
}


a{
	text-decoration: none;
	color: #666666
}

body a:hover{
	color: orange;
}

ul{
	text-decoration: none;
	list-style: none;
}


.scroll{
	width: 100%;
	z-index: 2;
	text-align:center;
}

.bg-fixed{
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;  
	width: 100%;
	z-index: 1;
}

/*ヘッダー*/

.nav0{
	width: 100%;
	height: 40px;
	background-color: white;
	box-shadow: 0 1px 2px gray;
	margin:0;
}

.nav1{
	height: 40px;
	width: 10%;
	vertical-align: middle;
	float: left;
}

.nav1 h2{
	margin:0;
}

.nav2{
	height: 40px;
	width: 85%;
	float: right;
	margin-right: 5%;
	text-align: right;
	
}

.nav2 ul {
	margin:0;
	font-size: 0; 
	height: 40px;
	
}

.nav2 li{
	display: inline-block;
  	font-size: 20px;
  	margin-left:5%;
}

.nav2 a{
	vertical-align: middle;
	display: table-cell;
	height: 40px;
}






/*ヘッダーここまで*/






/*一段目*/

.bg-fixed1{
	height: 90%;
	position: relative;

}

.bg-fixed1 img{
	height: 100%;
	width: 100%;
	position: absolute;
}

.catch-title{
	position: absolute;
	top:20%; left: 15%;
	width: 85%;
	text-align: left;
}

.catch-title h2{
	color: white;
	font-size: 120px;
	margin-left: 0;
}

.catch-title h1{
	font-size: 40px;
	margin-left: 0;
	color: white;
}

.wrap-bg-button{
	position: absolute;
	top:63%;
	width: 100%;
	text-align: center;
	z-index: 3;
}


.bg-fixed1 button{
	display: inline-block;

}

@media only screen and (max-width: 1420px){
	.catch-title h2{
	 	font-size: 90px;
	}
}

@media only screen and (max-width: 1070px){
	.catch-title{
		text-align: center;
		position: absolute;
		top: 20%;	left: 0%;
		width: 100%;
	}

	.catch-title h2{
	 	font-size: 60px;
	}

	.catch-title h1{
	 	font-size: 25px;
	}
}

@media only screen and (max-width: 768px){

	.bg-fixed1{
		height: 80%;
	}

	.catch-title h2{
	 	font-size:50px;
	}

	.catch-title h1{
	 	font-size: 20px;
	}	

	.wrap-bg-button{
		position: absolute;
		top:50%;

}
}
/*一段目終わり
2段目*/


.scroll1{
	height: 600px;
	width: 100%;
	background-color: #ffffff;
	display: table;
 	
}

.wrap-scroll1{
	display: table-cell;
	vertical-align: middle; 
}

@media only screen and (max-width: 640px){
	.scroll1{
	height: 800px;	
}

}

/*二段目終わり
三段目*/


.scroll2{
	height: 800px;
	background-color: #f6f6f6;	
	vertical-align: middle;
	display: inline-block;
}

.cover{
	text-align: center;
	margin: 10% 0 0 0;
}

.wrap{
	width: 100%;
	height: 900px;
	/*margin:0 10% 0 10%; */
	text-align: center;
	display: table;
}


.pct{
	width: 200px;
	margin: 117px 3% auto 3%;
	display: inline-block;
	text-align: center;	
}


.scroll2 img{
	width: 200px;
	height: 200px;
	border:solid 1px white;
}

.scroll2 p{
	color: #000000;
	margin: 0;
	display: inline;
	
}

@media only screen and (max-width: 1317px){
	.scroll2{
		height: 1200px
	}

}

@media only screen and (max-width: 640px){
	.scroll2{
		height: 2000px
	}


}

/*三段目*/




.bg-fixed2{
	width: 50%;
	height: 700px;
	float: left;
}

.scroll3{
	width: 50%;
	height: 700px;
	z-index: 1;
	background-color: white;
	float: left;
	display: table;
}

.wrap-sc3{
	display: table-cell;
	vertical-align: middle;
}


.clearfix:after{
	display: block;
	content: "";
	clear: both;
}

@media only screen and (max-width: 1317px){
	.bg-fixed2{
		width: 100%;
		height: 200px;
	}

	.scroll3{
		width: 100%;
	}

}



/*三段目終わり
四段目*/





.scroll4{
	height: 900px;
	background-color: #f6f6f6;
	display: table-cell;
 	vertical-align: middle;
 	text-align: left;
}

.wrap2{
	text-align: center;
}

.wrap3 h2{
	margin-left:10%; 
}

.scroll4 p{
	color: #666666;
}

@media only screen and (max-width: 768px){
	.scroll4{
		height: 1000px;
	}
}





/*四段目終わり
五段目*/

.bg-fixed3{
	height: 115%;
	position: relative;
}


.scroll5{
	height: 100%;
	width: 100%;
	background-color:rgba(00,00,00,0.85); 
}

.bg-fixed3 p{
	font-size: 50px;
}


.contacts{
	text-align: left;
	height: 500px;
	width: 70%;
	position: absolute;
	top:120px; left: 10%;
}

.form-group input{
	resize: none;
	height: 50px;
	width: 50%;
	font-size: 30px;
}


.form-group textarea{
	resize: none;
	height: 250px;
	width: 65%;
	font-size: 30px;
}

@media only screen and (max-width: 1024px){
	.contacts{
		width: 80%;		
	}

	.form-group input{
		width: 100%;
	}

	.form-group textarea{
		width: 100%;

	}

}




/*五段目おわり*/
/*六段目*/


.scroll6{
	height: 600px;
	background-color:black; 
}

.kaizenoh{
	padding-top: 120px;
}



.kaizenoh h1{
	font-size: 100px;
	color: white;
}


.scroll6 button{
	height: 200px;
	width: 200px;
	margin-top: 40px;
}


@media only screen and (max-width: 1125px){
	.kaizenoh h1{
	font-size: 80px;
	
	}
}
@media only screen and (max-width: 881px){

	.kaizenoh h1{
		font-size: 50px;
	
	}
}

@media only screen and (max-width: 551px){
	.kaizenoh h1{
		font-size: 40px;
	
	}

}



/*６段目終わり*/
/*footer*/



.scroll7{
	height: 400px;
	background-color: #f6f6f6;
	position: relative;
}

.links{
	text-align: left;
	height: auto;
	width: 300px;
	position: absolute;
	top:60px; left: 15%;
}

.links a{ 
	text-decoration: none;
}


.links p{
	font-size: 20px;
	margin-top: 20px;
	color: #666666;
}

#copyright{
	position: absolute;
	bottom: 0; left: 0; right: 0;
}


/*firefox*/
